.benefits
    min-height: 900px
    width: 100%
    background-color: #ffffff
    padding: 71px 0 35px 0
    position: relative
    .row
        display: flex
        justify-content: center
        align-items: flex-start
        width: 100%
        min-height: 900px
    &__item
        display: flex
        align-items: flex-start
        justify-content: center
        margin-top: 35px
        max-height: 500px
        min-height: 112px
        overflow: hidden
        &-icon
            display: flex
            justify-content: center
            align-items: center
            width: 113px
            height: 113px
            background-color: $main-blue
            border-radius: 100%
            margin-right: 26px
            img
                width: 100%
                height: auto
                object-fit: contain
        &-text--blue
            color: $main-blue
            font-size: 17px
            line-height: 17px
            font-weight: 400
            font-family: "Proxima Bold"
        &-text
            width: 342px
            height: 100%
            font-size: 15px
            font-weight: 300
            line-height: 22px
            overflow: hidden