@media screen and ( min-width: 1200px) and (max-width: 2000px)
    .subheader
        padding-left: 5%
    
    
@media screen and ( max-width: 1199px)
    .header
        &__nav
            padding: 13px 0px
        &__button
            padding: 5px 14px
        &__row
            align-items: center
        &__item
            padding-right: 22px
    .subheader
        padding-left: 4%
    .benefits__item-icon
        width: 130px
    .capabilities
        &-item__text
            font-size: 21px
    .car-container
        left: -5%
    .promo
        &__header
            font-size: 45px
        &__subheader
            font-size: 28px