@font-face {
font-family: 'Proxima';
font-display: swap;
src: url('../fonts/ProximaNova-Regular.eot');
src: url('') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: 401;
font-style: normal;
}
@font-face {
    font-family: 'Proxima Bold';
    font-display: swap;
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 901;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans-Light.eot');
    src: url('') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?o9ysky');
    src:  url('../fonts/icomoon.eot?o9ysky#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?o9ysky') format('truetype'),
        url('../fonts/icomoon.woff?o9ysky') format('woff'),
        url('../fonts/icomoon.svg?o9ysky#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
content: "\e900";
}
.icon-linkedin:before {
content: "\e901";
}
.icon-instagram:before {
content: "\e902";
}
.icon-facebook:before {
content: "\e903";
}
