footer.footer
    .footer-wrapper
        ul.footer-wrapper-social
            li.footer-wrapper-social__li
                a.footer-wrapper-social__li-link(href="https://www.facebook.com/", target="_blank")
                    span.icon-facebook
            li.footer-wrapper-social__li
                a.footer-wrapper-social__li-link(href="https://twitter.com/", target="_blank")
                    span.icon-twitter
            li.footer-wrapper-social__li
                a.footer-wrapper-social__li-link(href="https://www.linkedin.com/", target="_blank")
                    span.icon-linkedin
            li.footer-wrapper-social__li
                a.footer-wrapper-social__li-link(href="https://instagram.com/", target="_blank")
                    span.icon-instagram
        .footer-wrapper-block
            nav.footer-wrapper-block-nav
                ul.footer-wrapper-block-nav__ul
                    li.footer-wrapper-block-nav__ul__li
                        a.footer-wrapper-block-nav__ul__li-link(href="#") на главную
                    li.footer-wrapper-block-nav__ul__li
                        a.footer-wrapper-block-nav__ul__li-link(href="#") города
                    li.footer-wrapper-block-nav__ul__li
                        a.footer-wrapper-block-nav__ul__li-link(href="#") для водителей
            nav.footer-wrapper-block-additionally
                ul.footer-wrapper-block-additionally-ul
                    li.footer-wrapper-block-additionally-ul__li
                        a(href="#") центр поддержки
                    li.footer-wrapper-block-additionally-ul__li
                        a(href="#") вакансии
                    li.footer-wrapper-block-additionally-ul__li
                        a(href="#") разработчики
                    li.footer-wrapper-block-additionally-ul__li
                        a(href="#") блог
                    li.footer-wrapper-block-additionally-ul__li
                        a(href="#") о нас
        ul.footer-wrapper-markets
            li.footer-wrapper-markets__li
                a.footer-wrapper-markets__li__link(href="#", target="_blank")
                    picture
                        source(srcset="img/appstore.webp", type="image/webp")
                        img(src="img/appstore.png", alt="App Store")
            li.footer-wrapper-markets__li
                a.footer-wrapper-markets__li__link(href="#", target="_blank")
                    picture
                        source(srcset="img/gologoole_play.webp", type="image/webp")
                        img(src="img/gologoole_play.png", alt="Google Play")
            li.footer-wrapper-markets__li
                a.footer-wrapper-markets__li__link(href="#", target="_blank")
                    picture
                        source(srcset="img/Windows_store.webp", type="image/webp")
                        img(src="img/Windows_store.png", alt="Windows Store")
    a(href="#").footer__language русский