header.header
    .container
        nav.header__nav
            ul.header__menu
                li.header__item
                    a.header__link(href="index.html") Главная
                li.header__item
                    a.header__link(href="#requirements") Со своим автомобилем
                li.header__item
                    a.header__link(href="#requirements") На автомобиле компании
                li.header__item
                    a.header__link(href="#requirements") Требования
                li.header__item
                    a.header__link(href="#") Контакты
                li.header__item
                    a.header__link(href="#") Оставить заявку
            .header__hamburger
                span
                span
                span