<!DOCTYPE html>
html(lang="ru")
    head
        include head.pug
        title Uber
    body
        include header.pug
        .page
            .subheader
                .container
                    .row.header__row
                        .col-md-5.offset-md-1.col-lg-5.offset-lg-0
                            a.subheader__logo(href="#")
                                picture
                                    source(srcset="icons/logo.webp", type="image/webp")
                                    |
                                    |
                                    img(src="icons/logo.png", alt="logo", width="287px", height="32px")
                            .subheader__official Официальный партнер Uber в Москве
                        .col-md-2.offset-md-1.col-lg-3.offset-lg-1
                            .subheader__call Звоните нам ежедневно
                            a.subheader__phone(href="tel:84957970988") 8 495 797 09 88
                        .col-md-2
                            button.header__button.button(disabled) Заказать звонок
            main.promo
                .container
                    .row
                        .col-md-10.offset-md-1
                            .section-header
                                h1.promo__header КОМПАНИЯ UBER PARTNERS!
                                h2.promo__subheader ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!
                                p.promo__description.
                                    Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди
                                    таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за пиковое время.
                                    <br><br>
                                    Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве. Водители у нас зарабатывают от 80000- 120000 в месяц.
                            button.promo__button.button ОТПРАВИТЬ ЗАЯВКУ!
            section.benefits#benefits
                .container
                    .section-header
                        div.text-block преимущества
                        h2.subheader__text 8 причин работать с нами
                    .row
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/purse.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/purse.png", alt="Кошелек")
                                p.benefits__item-text #[span.benefits__item-text--blue Никаких наличных, оплата происходит автоматически]<br>Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/board.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/board.png", alt="Доска с графиком")
                                p.benefits__item-text #[span.benefits__item-text--blue Комиссия 8% + БОНУСЫ]<br>У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/money.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/money.png", alt="Деньги")
                                p.benefits__item-text #[span.benefits__item-text--blue Высокий доход с гарантированными выплатами]<br>Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета.
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/calendar.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/calendar.png", alt="Календарь")
                                p.benefits__item-text #[span.benefits__item-text--blue Работа в удобное время, никаких графиков]<br>Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни!
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/key.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/key.png", alt="Ключ")
                                p.benefits__item-text #[span.benefits__item-text--blue Комфортное, прозрачное и простое подключение]<br>Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/map.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/map.png", alt="Карта")
                                p.benefits__item-text #[span.benefits__item-text--blue Всегда большое количество заказов]<br>Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить.
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/telephone.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/telephone.png",alt="Телефон")
                                p.benefits__item-text #[span.benefits__item-text--blue Круглосуточная поддержка]<br>В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию.
                        .col-md-6
                            .benefits__item
                                .benefits__item-icon
                                    picture
                                        source(srcset="icons/car.webp" type="image/webp")
                                        |
                                        |
                                        img(src="icons/car.png", alt="Машина")
                                p.benefits__item-text #[span.benefits__item-text--blue Без шашечек и наклеек]<br>Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками.  
            section.capabilities#capabilities
                .container
                    .section-header
                        div.capabilities__header.text-block Возможности
                        h2.capabilities__subheader.subheader__text мобильное приложение убер
                        p.text Сделайте заказ, совершите поездку и оплатите ее стоимость, используя свой мобильный телефон
                    .capabilities__row.row
                        .col-md-4
                            .capabilities-item
                                picture
                                    source(srcset="img/capabilities-phone_1.webp", type="image/webp")
                                    |
                                    |
                                    img.capabilities-item__img(src="img/capabilities-phone_1.png", alt="Телефон на заднем плане")
                                .capabilities-item__text оформление заказа одним касанием
                                button.capabilities-item__plus
                        .col-md-4
                            .capabilities-item
                                picture
                                    source(srcset="img/capabilities-phone_2.webp", type="image/webp")
                                    |
                                    |
                                    img.capabilities-item__img(src="img/capabilities-phone_2.png", alt="Телефон другой телефон")
                                .capabilities-item__text надежная подача
                                button.capabilities-item__plus
                        .col-md-4
                            .capabilities-item
                                picture
                                    source(srcset="img/capabilities-phone_3.webp", type="image/webp")
                                    |
                                    |
                                    img.capabilities-item__img(src="img/capabilities-phone_3.png", alt="Еще телефон :U")
                                .capabilities-item__text прозрачные цены
                                button.capabilities-item__plus
                        .col-md-4
                            .capabilities-item
                                picture
                                    source(srcset="img/capabilities-phone_4.webp", type="image/webp")
                                    |
                                    |
                                    img.capabilities-item__img(src="img/capabilities-phone_4.png", alt="Еще телефон :U")
                                .capabilities-item__text безналичная оплата
                                button.capabilities-item__plus
                        .col-md-4
                            .capabilities-item
                                picture
                                    source(srcset="img/capabilities-phone_5.webp", type="image/webp")
                                    |
                                    |
                                    img.capabilities-item__img(src="img/capabilities-phone_5.png", alt="Еще телефон :U")
                                .capabilities-item__text обратная связь
                                button.capabilities-item__plus
                        .col-md-4
                            .capabilities-item
                                picture
                                    source(srcset="img/capabilities-phone_6.webp", type="image/webp")
                                    |
                                    |
                                    img.capabilities-item__img(src="img/capabilities-phone_6.png", alt="Еще телефон :U")
                                .capabilities-item__text разделить стоимость поездки
                                button.capabilities-item__plus
            section.car
                .car-bg
                    picture
                        source(srcset="img/car_bg.webp", type="image/webp")
                        |
                        |
                        img(src="img/car_bg.png", alt="Background", height="420px")
                .car-background--black
                .container
                    .section-header
                        div.car__header.text-block Возможности
                        h2.car__subheader.subheader__text Выбор - отличная штука!
                        p.car__text.text Закажите автомобиль, который подходит вам по стилю и бюджету
                    .col-md-8.offset-md-2
                        .car-container
                            .car-container__circle
                                h3.car-container__circle-header uberX
                                p.car-container__circle-text доступный убер
                            .car-container__img
                                picture
                                    source(srcset="img/uber_car.webp", type="image/webp")
                                    |
                                    |
                                    img(src="img/uber_car.png", alt="Машина убер")
                    p.car__text-subheader Машины на каждый день.<br> Лучше, быстрее и дешевле, чем такси
            section.requirements#requirements
                .container
                    .section-header
                        div.capabilities__header.text-block Возможности
                        h2.capabilities__subheader.subheader__text условия и требования
                    .row.requirements-row
                        .col-md-5
                            .requirements-item
                                h3.requirements-item__header УСЛОВИЯ: со своим авто:
                                ul.requirements-item-list
                                    li.requirements-item-list__item Подключаем к системе UBER  под 10%
                                    li.requirements-item-list__item Ни каких взносов  0%!
                                    li.requirements-item-list__item Можем подключать удаленно без приезда в офис
                                    li.requirements-item-list__item ИП не требуется
                                    li.requirements-item-list__item Заказы распределяются без учета рейтинга ближайшим водителям
                                    li.requirements-item-list__item Работа только по безналичному расчету
                                    li.requirements-item-list__item Деньги перечисляем на карту водителю или наличными в офисе
                                p.requirements-item__text В день заработок составляет 7000-12000р + бонус 3000т рублей
                        .col-md-5.offset-md-1
                            .requirements-item
                                h3.requirements-item__header УСЛОВИЯ: на авто компании:
                                ul.requirements-item-list
                                    li.requirements-item-list__item Предоставляем авто без залога
                                    li.requirements-item-list__item Без ежедневных выплат по аренде
                                    li.requirements-item-list__item Среда пятница и суббота работа на компанию остальные дни вы работаете на себя
                        .col-md-5
                            .requirements-item--red
                                h3.requirements-item__header--red ТРЕБОВАНИЕ:
                                ul.requirements-item-list
                                    li.requirements-item-list__item--red Наличие автомобиля без рекламы
                                    li.requirements-item-list__item--red Автомобиль не должен быть желтый и не с желтыми номерами
                                    li.requirements-item-list__item--red Машина не старше 3 лет
                                    li.requirements-item-list__item--red Стаж вождения не менее 3 лет
                                    li.requirements-item-list__item--red Дивайс на системе андроид 4.0и выше(самсунг)
                        .col-md-5.offset-md-1
                            .requirements-item--red
                                h3.requirements-item__header--red ДОКУМЕНТЫ:
                                ul.requirements-item-list
                                    li.requirements-item-list__item--red Права 2 стороны
                                    li.requirements-item-list__item--red Паспорт лицевая сторона
                                    li.requirements-item-list__item--red СтС
                                    li.requirements-item-list__item--red Лицензия( если есть)
                                    li.requirements-item-list__item--red Номер телефона
                                    li.requirements-item-list__item--red Номер карты для перечисления денег(указать в письме)!
            section.world
                .container
                    .section-header
                        div.world__header.text-block Города
                        h2.world__subheader.subheader__text По всему миру
                        p.world-text.text Мы в вашем городе и по всему миру
                    .world_bg
                        picture
                            source(srcset="img/world_bg.webp", type="image/webp")
                            img(src="img/world_bg.jpeg", alt="Изображение континентов")
                    a(href="second_page.html").world-bottom-link посмотреть все города
            include footer.pug